<tr class="td_style"> <td>{{.c_loops.C_name}}</td> <td>{{.c_loops.C_teach}}</td> <td>{{.c_loops.C_Tscore}}</td> <td> <label><a onclick="StudAddCourse('{{.id}}','{{.c_loops.C_id}}','{{.loginCode}}')"> <img src="/img/addCourse.png"/>添加课程</a> </label> </td> </tr>