<tr class="tr_show"> <td>{{.c_loops.SC_name}}</td> <td>{{.c_loops.SC_teach}}</td> <td>{{.c_loops.SC_Sscore}}</td> <td>{{.c_loops.SC_Tscore}}</td> <td class="ctrl"> <a title="退课"><img src="/img/delete.png" onclick="executeSql(delCourseByField('{{.c_loops.SC_name}}','{{.c_loops.SC_teach}}'),'/User/exitCourse?id={{.id}}&loginCode={{.loginCode}}&SC_id={{.c_loops.SC_id}}')"></a> </td> </tr> </div>