</table> </div> </section> </body> <br><br> <footer> <div id="JS_Footer"></div> </footer> <script type="application/javascript">
    JsAddFooter("180px", "auto", "70px");
</script> <script src="../js/Public.js"></script> </html>