{{/* 数据*/}} <tr class="tb_td"> <td>{{.admin.A_email}}</td> <td>{{.adminClass}}</td> <td class="ctrl"> <a href="/User/SuResetPasswdAdmin?Su_id={{.Su_id}}&Su_loginCode={{.loginCode}}&Res_id={{.admin.A_id}}"><input type="button" value="重置密码"></a> <a href="/User/SuDeleteAdmin?Su_id={{.Su_id}}&Su_loginCode={{.loginCode}}&Del_id={{.admin.A_id}}"><input type="button" value="删除此号"></a> </td> </tr>