{{/*筛选的学生*/}} <tr class="showStud"> <td><img style="width: 45px;height: 45px" src="{{.s.Sl_logo}}"></td> <td>{{.s.S_id}}</td> <td>{{.s.S_name}}</td> <td>{{.s.S_Sscore}}</td> <td class="admin_crl"> {{/* id {{.s.S_CourseId}}*/}} <input type="button" value="密码重置" onclick="HrefHtml('/User/StudResetPasswd?id={{.id}}&loginCode={{.loginCode}}&sid={{.s.S_id}}')"> <input type="button" value="评改分数" onclick="HrefHtml('/User/grades?id={{.id}}&loginCode={{.loginCode}}&sid={{.s.S_id}}&cid={{.c.C_Id}}')"> <input type="button" value="注销此号" onclick="DelStudentBySid('/User/deleteStud?id={{.id}}&loginCode={{.loginCode}}&sid={{.s.S_id}}&delLogo={{.s.Sl_logo}}')"> </td> </tr>