<!DOCTYPE html> <html> <head> <meta charset="utf-8"/> <title>花图</title> <script src="../js/echarts.min.js"></script> </head> <body> <div id="main" style="width: auto;height:500px;"> <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '标题'
            },
            tooltip: {},
            legend: {
                data: ['最高分']
            },
            xAxis: {
                data:{{.courseNameList}}

            },
            yAxis: {
            },
            series: [
                {
                    name: '最高分',
                    type: 'bar',
                    {{/*date:{{.maxScoreList}}*/}}
                    data:{{.arr}}


                },

            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script> </div> </body> </html>